# This is a basic workflow to help you get started with Actions
name: india_air_quality_json

# Controls when the workflow will run
on:
  workflow_dispatch:
  # schedule:
  #   - cron: '45 * * * *'  # Runs every 45th min

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      AQI_SECRET: ${{ secrets.AQI_SECRET }}
      SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
      SNOWFLAKE_USER: ${{ secrets.SNOWFLAKE_USER }}
      SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
    steps:
      - uses: actions/checkout@v3
      - name: Install Dependencies and Run Script
        run: |
          home_dir=$(pwd)
          echo "Home Directory: $home_dir"
          echo "---------------------------------------"
          
          pip install --upgrade pip    
          echo "---------------------------------------"
          
          pip install "snowflake-snowpark-python[pandas]"
          echo "---------------------------------------"
          
          ls -la
          pwd
          echo "---------------------------------------"
          
          python $home_dir/src/ingest_api_data.py
